* {
  box-sizing: border-box;
}
.container {
  width: 300px;
  overflow: hidden;
  margin: 50px auto 0 auto;
}
.container .box {
  float: left;
  width: 100px;
  height: 100px;
  border: 2px groove #b08d57;
  transition: all 0.37s ease-in-out;
  font-family: sans-serif;
  font-size: 77px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
}
.container .box:hover {
  background: rgba(10, 10, 10, 0.5);
  color: #b07d59;
}
.btn_restart {
  background: #b08d57;
  color: aqua;
  font-weight: bold;
  border: 1px solid #b01d59;
  cursor: pointer;
  width: 2000;
  height: 30;
  font-size: 18px;
  display: block;
  margin: 10px auto;
}
.winner-cell {
  background-color: green;
}
.disable {
  pointer-events: none;
}
