
h1{
    margin-bottom: 20px;
    font-size: 69px ;
    border: 10px;
    cursor: text;
}
span{
    display: collapse;
}
.jaga{
    color: indianred;
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 5px;
}
p{    
    font-size: 16px;
    line-height: 10em;

}

div{
    width: 250px;
    height: 150px;
    overflow: auto;
}

body{
    text-align: center;
    
    
}


/*
ul.in li {
    list-style-position: inside;
}
ul.out li {
    list-style-position: outside;
}
*/
table {
   
   table-layout:  auto;
   border-collapse: separate;
   empty-cells: hide;
 

}
table, td, th{
    border: 1px solid rgb(5, 12, 5);
}

caption {
    caption-side: bottom;
}
